
body {
	background: black;
}

/* Jumbotron */

.jumbotron {
	color: salmon;
	background: azure;
}

h1 {
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;

}

p { 
	text-align: center;
	font-family: 'Pacifico', cursive;


 }

 /*Panel left*/

 .panel {
 	background: black;
 	height: 800px;
 }

.panel-heading	{	
	padding: 0;
}

 .panel-title {
	background: black;
	color: salmon;
 }

 h3 {
 	font-size: 26;
 	text-align: center;
 	font-family: 'Gloria Hallelujah', cursive;
 }

 img {
 	width: 60%;
 	height: 60%;
	margin-left: 20%;
  }


 /*Panel right */

.panel-body {
	color: salmon;
}